# Ignore all files by default
*
# Include specific files and directories
!*.ts
!mcp-server
!package-lock.json
!package.json
!stateless
!tools
!tsconfig.json
!utils
!.npmrc
# Ignore test files
test*.ts
test
mcp-server/test
